body {
  margin: 0;
  padding: 0;
}

.main_page {
  background-color: rgb(155, 10, 39);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}

.main_page a {
  color: rgb(255, 255, 255);
}

.title-style {
  color: darkgreen;
}

.recipe-name-style {
  color: forestgreen;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(25, 78, 17);
}

main {
  padding: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
}

img {
  height: 200px;
}

nav {
  padding: 16px;
  border-bottom: 1px;
}

h2 {
  padding: 16px;
}
.grey_accent {
  background-color: rgb(218, 218, 218);
}

footer {
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 18px;
  padding-right: 0px;
  background-color: rgb(88, 155, 88);
  font-size: 18px;
  font-weight: bold;
}

.main_footer {
  padding-top: 48px;
  padding-bottom: 48px;
}
